<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script defer src="../Static/JS/testing.js"></script>
</head>

<!--SIDEBAR-->
<header>
    <h1>LifeSpot - Тестовая страница</h1>
    <p>Здесь можно эксперементировать с кодом</p>
</header>

<body>
    <main>
        <input type="text" size=50%>
        <button onclick="saveText()">Сохранить текст</button>
    </main>
</body>
<!--FOOTER-->

</html>